<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__list">
      <li class="main-header__list-item"><a href="/">Home</a></li>
      <li class="main-header__list-item"><a href="posts/add-post">Add a Website</a></li>
      <% if(isLoggedIn) { %>
          <li class="main-header__list-item">
            <form action="/users/logout" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit">Logout</button>
            </form>
          </li>
        <% } else { %>
          <li class="main-header__list-item"><a href="/users/register">Register</a></li>
          <li class="main-header__list-item"><a href="/users/login">Log in</a></li>
      <% } %>
    </ul>
  </nav>
</header>
