<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__list">
      <li class="main-header__list-item"><a href="/">Home</a></li>
      <li class="main-header__list-item"><a href="posts/add-post">Add a Website</a></li>
      <li class="main-header__list-item"><a href="">Log in</a></li>
      <li class="main-header__list-item"><a href="/users/register">Register</a></li>
    </ul>
  </nav>
</header>
