<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/forms.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("../includes/navbar.ejs") %>
    <main class="main-grid">
      <div class="main-column">
        <form action="/users/register" method="POST" class="post-form">
          <div class="form-control">
            <label for="email">Email </label>
            <input type="text" name="email" id="email" required />
          </div>
          <div class="form-control">
            <label for="name">Username: </label>
            <input type="text" name="name" id="name" required />
          </div>
          <div class="form-control">
            <label for="password">Password </label>
            <input type="password" name="password" id="password" required />
          </div>
          <div class="form-control">
            <label for="confirmPassword">Confirm Password </label>
            <input type="password" name="confirmPassword" id="confirmPassword" required />
          </div>
          <button class="btn" type="submit">Register</button>
        </form>
      </div>
    </main>
  </body>
</html>
